@import "tailwindcss";

h1, h2, h3, h4, h5 {
  font-family: "Jost", sans-serif;
}
body {
  font-family: "Inter", sans-serif;
}

@layer utilities {
  * {
    -webkit-tap-highlight-color: transparent;
  }

  button, a {
    @apply active:scale-95 transition-transform duration-100;
  }
}